@model LibraryCatalog.ViewModels.BooksViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add new Book</h1>
<hr />

<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-3" style="width: 800px; float:left;" >
            <h2>Book Details</h2>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCover" class="control-label">Upload Book Cover Image</label>
                <input asp-for="BookCover" class="form-control-file" type="file" accept="image/*"/>
                <span asp-validation-for="BookCover" class="text-danger"></span>
            </div>
        </div>

        <div class="col-3" style="width: 800px; float:left; border-left: 1px solid; border-right: 1px solid;" >
            <h2>Publish Details</h2>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3" style="width: 800px; float:left;">
            <h2>Author Details</h2>


            <div class="form-group">
                <label asp-for="AuthorName" class="control-label">First Name(s)</label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
                <label asp-for="AuthorLastName" class="control-label">Last Name</label>
                <input asp-for="AuthorLastName" class="form-control" />
                <span asp-validation-for="AuthorLastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Select Author(s)</label>
                <select id="authors" class="authors" multiple="multiple">
                    <option value="0"></option>
                    @foreach (var a in Model.Authors)
                    {
                        <option value="@a.AuthorId">@a.FullName</option>
                    }
                </select>
            </div>

            @*<div class="form-group">
            <label class="control-label">Pick Author from Drop Down</label>
            <input type="text" list="authors" asp-for="AuthorId"/>
            <datalist id="authors" class="form-control" >
                @foreach (var a in Model.Authors)
                {
                    <option>@a.FullName</option>
                }
            </datalist><br />

            </div>*@

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
